<nb-accordion>
    <nb-accordion-item>
        <nb-accordion-item-header>
          <div class="card">
          <img src="https://world.openfoodfacts.org/{{product.image}}" alt="">
          <p>{{product.title}}</p>
        </div>
        </nb-accordion-item-header>
          <nb-accordion-item-body>
              <b>Barcode: </b>{{product.barcode}}<br><br>
              <b>Status: </b>{{product.status}}<br><br>
              <b>Quantity: </b>{{product.quantity}}<br><br>
              <b>Packaging: </b>{{product.packaging}}<br><br>
              <b>Brands: </b><div *ngFor="let item of product.brands">{{item}}</div><br>
              <b>Categories: </b><div *ngFor="let item of product.categories">{{item}} </div>
          </nb-accordion-item-body>
        </nb-accordion-item>
</nb-accordion>
